* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    outline: none;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.section {
    height: 100%;
    position: center;
}

.p-10 {
    padding: 10px
}


.m-10 {
    margin: 10px
}

.j-end {
    justify-content: end
}

.bg-menu {
    background: #16a085;
}


.link-white {
    color: #ffffff;
}

.link-white:hover {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bolder;
    -webkit-transform: scale(1.2);
    -webkit-transition: -webkit-transform 1s ease, color 1s ease;
}

.content {
    white-space: normal;
}

a.logo {
    text-decoration: none;
    user-select: none;
    outline: none;
}


.menu {
    width: 55px;
    min-width: 55px;
    overflow: hidden;
    position: relative;
    text-align: right;
    display: inline-block;
    text-transform: uppercase;
    transition: 1s;

}

.menu.open {
    width: 320px;
    min-width: 320px;
    background-color: #3e58a9;
}


